body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #E84142;
}

#searchInput {
    padding: 5px;
}

#searchButton {
    padding: 5px;
    background-color: #E84142;
    color: white;
    border: none;
    cursor: pointer;
}

#pokemonInfo {
    margin-top: 20px;
}
